.aboutpage {
  padding: 30px;
  text-align: center;
  /*Height of nav bar*/
  margin-top: 74px;
  font-family: "Courier New", Courier, monospace;
  background-color: #283586;
}
.aboutpage > h5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutpage h2 {
  font-weight: bold;
  margin-bottom: 25px;
}

.about_sponsors {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about_officers {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_alumni {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_text > h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.about_text > p {
  font-size: 1rem;
  text-align: center;
}
