.aboutpage {
  margin-top: 72px; /*Height of nav bar*/
  background-color: #384595;
  color: black;
}

.text_area {
  width: 95%;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  text-align: center;
}

.text_area h2 {
  padding-top: 10px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 3rem;
}
h1 {
  padding-top: 15px;
  font-weight: bolder;
}
h3 {
  padding-top: 10px;
  font-weight: bold;
}

.footerSpace {
  padding-bottom: 30px;
  padding-top: 30px;
}

.about_description {
  padding-bottom: 30px;
}

.link a {
  font-weight: bold;
  color: #f04e23;
  font-size: 1.5rem; 
}

.about_sponsors {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 45px;
}
.about_officers {
  padding-top: 15px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_alumni {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_text > h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.about_text > p {
  font-size: 1rem;
  text-align: center;
}
