.aboutpage {
  text-align: center;
  /*Height of nav bar*/
  margin-top: 73px;
  font-family: "Courier New", Courier, monospace;
  background-color: #384595;
  color: black;
  overflow-x: hidden;
}

.aboutpage h2 {
  margin-top: 10px;
  font-weight: bold;
}

h1,
h3 {
  font-weight: bold;
}

.footerSpace {
  padding-bottom: 30px;
}

.link > * {
  font-size: "xx-large";
  color: "#f04e23";
}

.about_sponsors {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 45px;
}
.about_officers {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_alumni {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about_text > h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

.about_text > p {
  font-size: 1rem;
  text-align: center;
}
