.profile {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  margin-top: 100px;
  width: auto;
  height: auto;
  text-align: center;
}

.profile:hover {
  transform: scale(1.07);
}

.profile > img {
  margin-bottom: 50px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
}

.profile {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.profile_info > h2 {
  /*background-color: #F8F8F8;*/
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
}

.profile_info > h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 16px;
}
.profile_info > h5 {
  font-size: 14px;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 8px;
}
.profile_icons {
  padding: 10px;
  display: inline;
}

/* To get the SocialIcons to transform, used ' >* ' to indicate 'all child descendants' of the attribute, but not the attribute itself */
.profile_icons > * {
  transition: transform 100ms ease-in;
}

.profile_icons:hover > * {
  transform: scale(1.5);
}
