.homepage {
  text-align: center;
  /*Height of nav bar*/
  margin-top: 73px;
  font-family: "Courier New", Courier, monospace;
  background-color: #283586;
}

.h1 {
  color: black;
  font-weight: 700;
}

/*What is ACE's designated color palette*/
.img {
  width: 90px;
  height: 100%;
}
