.homepage {
  text-align: center;
  background-color: #073561;
  /*Height of nav bar*/
  margin-top: 74px;
}

.h1 {
  color: black;
}

/*What is ACE's designated color palette*/
.img {
  width: 90px;
  height: 100%;
}
