.aboutpage {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
}
.aboutpage > h5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutpage > h2 {
  border-radius: 10px;
  padding-top: 30px;
}
.about_sponsors {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about_officers {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.alumni_dropdown {
  padding-top: 30px;
  background-color: red;
}
