.officer_input > input{
    padding: 10px;
    margin-right: 4px;
    position: relative;
}

.officer_input > button{
    
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 5px !important;
    border-color: white;
    margin-right:5px;
    padding: 10px;
    background-color: #282c33;
    color: white;
}
.officer_input > button:hover{
    
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 5px !important;
    border-color: white;
    margin-right:5px;
    padding: 10px;
    background-color: white;
    color: #282c33;
}