.mt_5 {
  background-color: #212529 !important;
  color: #eeeeee;
  padding: 40px;
  display: flex;
	width: 100%;
	background-color: #212529;
	line-height: 1.3;
	font-family: Menlo, monospace;
	text-decoration: none;
  
}
.mt_5 > * > * > * > * {
  text-align: center;
  display: flex;
  justify-content: center;
}
.mt_5 > * > * > * > * > * > * > * > * {
  /* background-color: red; */
  padding: 1px;
}
